@page
@using eBookStore.Client.Helpers;
@model eBookStore.Client.Pages.Books.EditModel

@{
    ViewData["Title"] = "Edit";
    List<SelectListItem> PubList = SessionHelper.GetObjectFromJson<List<SelectListItem>>(HttpContext.Session, "PublisherList");
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Book.BookId" />
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Type" class="control-label"></label>
                <input asp-for="Book.Type" class="form-control" />
                <span asp-validation-for="Book.Type" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Book.PublishserId"></label>
                <select asp-for="Book.PublishserId" asp-items="@PubList" class="form-select">
                    <option disabled selected>--Select Publisher--</option>
                </select>
                <span asp-validation-for="Book.PublishserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Price" class="control-label"></label>
                <input asp-for="Book.Price" class="form-control" />
                <span asp-validation-for="Book.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Advance" class="control-label"></label>
                <input asp-for="Book.Advance" class="form-control" />
                <span asp-validation-for="Book.Advance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Royalty" class="control-label"></label>
                <input asp-for="Book.Royalty" class="form-control" />
                <span asp-validation-for="Book.Royalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.YTDSale" class="control-label"></label>
                <input asp-for="Book.YTDSale" class="form-control" />
                <span asp-validation-for="Book.YTDSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Note" class="control-label"></label>
                <input asp-for="Book.Note" class="form-control" />
                <span asp-validation-for="Book.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublishedDate" class="control-label"></label>
                <input asp-for="Book.PublishedDate" class="form-control" />
                <span asp-validation-for="Book.PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
